table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
  color: white;}

th, td {
  padding:-0;
  text-align:center;
}

td:hover {background-color: black;
  color: yellow;
}

tr:hover {
  background-color: yellow;
}

table {
  font-family: Helvetica, sans-serif;
}
